body {
  font-family: "Saira Condensed", sans-serif;
  color: whitesmoke;
  text-align: center;
  padding: 0;
  background-size: 100% 100%;

  display: grid;
}
.css-clock {
  padding-top: 1%;
  align-self: center;
  font-size: 40px;
}
.css-nameInput {
  align-content: center;
  display: inline-block;
  /* border: none; */
  background: transparent;
  font-size: 40px;
}
.css-greetingForm {
  display: inline-block;
  font-size: 40px;
}
.css-greetingViewToggle {
  display: none;
}
.css-todoInput {
  /* border: none; */
  background: transparent;
  font-size: 30px;
}
.css-todoList {
  list-style-type: none;
  display: inline-block;
  padding-left: 0;
  font-size: 25px;
}
.css-todoListLi {
  display: grid;
  grid-template-columns: 40px auto;
}
.css-todoList_delBTN {
  grid-column-start: 1;
  grid-column-end: 1;
  border: 0;
  outline: 0;
  background-color: transparent !important;
}
.css-todoList_content {
  grid-column-start: 2;
  grid-column-end: 2;
}
.css-todoList_completeFlag {
  text-decoration-line: line-through;
}
.css-weather {
  justify-self: right;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: whitesmoke;
}
